body {
    background-image: linear-gradient(-45deg, #001220, #002886, #001220, #013979);
    background-size: 400% 400%;
    animation: aurora-flow 10s ease infinite;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    p { color: black; }
    h1 { color: black }
    h2 { color: black }
    h3 { color: black }
    h4 { color: black }
    h4 { color: black }
    h5 { color: black }
    h6 { color: black }

    color: black;

}


@keyframes aurora-flow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.tabs__label {
    padding: 15px 21px;
    cursor: pointer;
    background: #dbdbdb;
    border: 1px solid #ffffff;
}

.tabs__radio {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.tabs__content {
    order: 1;
    width: 100%;
    border-bottom: 3px solid #ffffff; 
    line-height: 1.5;
    font-size: 0.9em;
    display: none; 
    padding: 20px;
    background: #ffffff;
    box-sizing: border-box;
}

@keyframes fadeIN {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.tabs__radio:checked + .tabs__label + .tabs__content {
    display: block;
    animation: fadeIN 0.4s ease-in-out;
}

.tabs__radio:checked + .tabs__label {
    background: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: 1px solid rgb(255, 255, 255); 
}

.tabs__label:hover {
    background: #bababa;
    color: #000000;
    transition: 0.3s;
}

.flightplan-boxing {
    border: 1px solid #0000FF;
    padding: 10px;
    margin: 10px auto;
    max-width: 300px;
    border-radius: 5px;
}

.flightplan-boxing-red {
    border: 1px solid #ff0000;
    padding: 10px;
    margin: 10px auto;
    max-width: 300px;
    border-radius: 5px;
}

.stats-badge {
    font-size: 0.8rem;
    background: #d2d2d2;
    padding: 3px 10px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
}

a:link { color: rgb(0, 17, 255); text-decoration: underline; }
a:visited { color: rgb(255, 255, 255); text-decoration: none; }
a:hover { color: red; text-decoration: none; }
a:active { color: green; text-decoration: underline; }

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #8c8c8c;
}
